:root {
    --primary-color-dark: #001830;
    --primary-color-light: #ECF3FB;
    --secondary-color-dark: #23424A;
    --secondary-color-light: #EAEFF2;
    --nav-color: #27BD80;

}

* {
    
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: var(--primary-color-light);
    text-decoration: none;
    
}

body {
    
    height: 100%;
}

.navbar {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--nav-color);
    height: 80px;
}

.navbar-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    cursor: pointer;
}

div {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; 
}

button {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    border: none;
}

.logo {
    display: block;
    background: #ffff;
    padding: 3px 15px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.navbar-buttons a {
    color: var(--primary-color-dark);
    font-weight: 800;
    margin-right: 25px;
}

.navbar-buttons button {
    color: var(--primary-color-light);
    background-color: var(--primary-color-dark);
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 600;
}

button.logo {
    height: 44px;
    padding: 10px 30px;
    border-radius: 15px;
    border: none;
    line-height: 30px;
    
    
}

img.logo {
    height: 30px;
}

.logo-main {
    width: 35%;
    height: fit-content
}

.page-content {
    background-color: #001830;
    position: absolute;
    top: 80px;
    bottom: 0;
    width: calc(100% - 100px);
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10vw;
    padding: 0px 50px;
    padding-top: 0px;
}



.login-form {
    background-color: var(--secondary-color-light);
    height: calc(80vh - 100px);
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 50px 0px
}

.login-form i {
    color: var(--primary-color-dark);
    font-size: 170px;
    height: 170px;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.form-fields {
    height: fit-content;
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
    
}

.login-form a {
    color: var(--primary-color-dark);

    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 30px;
}

.login-button {
    color: var(--primary-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    background-color: var(--primary-color-dark);
    border: 1px solid var(--primary-color-dark);
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    
}

.login-form form {
    
    justify-content: center; 
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 25px;
    
}

.field {
    height:40px;
    width: 70%;
    background-color: var(--primary-color-light);
    border: 1px solid var(--secondary-color-dark);
    border-radius: 30px;
    align-items: center;
    display: flex;
    gap: 30px;
    padding-left: 35px;
    padding-right: 25px;
}

.field input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background-color: inherit;
    color: var(--primary-color-dark);
    font-size: 18px;
    font-weight: 500;
}

.field input::placeholder {
    color: var(--primary-color-dark);
    opacity: 70%;
    font-weight: 600;
}

.field i {
    font-size: larger;
    height: fit-content;
    color: var(--primary-color-dark);
    margin: 0;
}

@media (max-width: 1200px) {
    .field {height: 30px}
    .field input {font-size: 16px;}
    .login-form form {row-gap: 15px;}
    .login-form a {font-size: 14px;}
    .login-form i {font-size: 100px; height: 100px}
    .field i {font-size: medium; height: fit-content;}
    .login-form {height: calc(80vh - 20px); padding: 10px 0px;}
    .login-button {height: 35px; font-size: 15px;}
    .navbar {height: 65px}
    .page-content {top: 65px}
}

@media screen and (max-width: 700px) {
    .field {height: 30px}
    .field input {font-size: 16px;}
    .login-form form {row-gap: 15px;}
    .login-form a {font-size: 14px;}
    .login-form i {font-size: 100px; height: 100px}
    .field i {font-size: medium; height: fit-content;}
    .login-form {height: 100%; padding: 10px 0px; width: 100%}
    .login-button {height: 35px; font-size: 15px;}
    .navbar {height: 65px}
    .page-content {top: 65px; padding: 0; width: 100%;}
}